.blog-entry img {
	width: 100%;
	object-fit: cover;
	height: 300px;
}

select option {
    margin: 5px;
    background: rgba(0, 0, 0, 0.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}